---
import ScriptComponent from "../js/script.jsx"
---
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
    <title>Aarya Sharma Portfolio</title>
    <!-- Preload primary fonts -->
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Ubuntu&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link href="https://fonts.googleapis.com/css2?family=Ubuntu&amp;display=swap" rel="stylesheet"></noscript>

    <link rel="preload" href="https://fonts.googleapis.com/css?family=Amatic+SC" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet"></noscript>

    <!-- Defer JavaScript libraries -->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.8.7/nipplejs.min.js"></script>

    <!-- Defer font-awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></noscript>

    <style>
        @import url(../../src/css/normalize.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	/* text-decoration: none; */
}

html,
body {
	overflow: hidden;
	background: #3B3F49;
}
a {
	color: inherit;
}

/**** Loader ****/

.loader {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;
	background: #000000;
	pointer-events: none;
}
.loader.unvisible {
	opacity: 0;
}
.loader .timer {
	position: absolute;
	font-weight: 700;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.4);
	
}
.image {
	display: block;
	height: 180px;
	width: 180px;
	background: #4b9bfb;
}

/**** Threejs ****/

.experience {
	position: fixed;
	width: 100vw;
	height: 100vh;
}

/**** Social ****/

.credits {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 26px;
	right: 26px;
	color: rgba(255,255,255,0.7);
	
}
@media (min-width:720px) {
	.credits :hover {
		color: rgba(255,255,255,0.9);
	}
}
@media (max-width:720px) {
	.credits {
		color: rgba(255,255,255,0.5);
		bottom: 16px;
	}
}
.credits svg {
	height: 26px;
	width: 26px;	
}
.credits .pic {
	cursor: pointer;
	margin-right: 8px;
}
.credits .bruno {
	margin-left: 16px;
}
.credits.unvisible {
	opacity: 0;
	pointer-events: none;
}

svg.rot {
	animation: 2s linear 0s normal none infinite running rot;
  /* -webkit-animation: 1s linear 0s normal none infinite running rot; */
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* @-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/**** Information ****/

.information {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	bottom: 29px;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	font-weight: 400;
	font-size: 16px;
}
.information .text {
	position: absolute;
	width: 50%;
	padding: 20px;
	border-radius: 10px;
	background: rgba(255,255,255,0.7);
	color: #000;
	text-align: center;
	transform: scale(0, 0);
	transition: transform 0.3s;
}
.information svg {
	position:relative;
	top:-1px;
	height:1em;
	width:1em;
	margin-left: 0.2em;
	margin-right: 0.1em;
	vertical-align:middle
}
/* .information a {
	font-weight: 600;
} */
.information a:hover {
	color: #582eb9;
}
/* .information img {
	position:relative;
	top:-2px;
	height:1em;
	vertical-align:middle
} */

@media (max-width:720px) {
	.information {
		bottom: 64px;
	}
	.information .text {
		width: 85%;
	}
}
.information.visible .text {
	transform: scale(1, 1);
}

.information.active .text {
	pointer-events: auto;
}
        :root {
	color-scheme: light dark;

	--background-color: #fff;
	--secondary-background-color: #f7f7f7;

	--color-blue: #049EF4;
	--text-color: #444;
	--secondary-text-color: #9e9e9e;

	--font-size: 16px;
	--line-height: 26px;

	--border-style: 1px solid #E8E8E8;
	--header-height: 48px;
	--panel-width: 300px;
	--panel-padding: 16px;
	--icon-size: 20px;
}

.g-wrap {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1; /* Ensures it's above the canvas */
	pointer-events: none;
	overflow: hidden;
  }
  
  
  .g-aurora::before {
	content: "";
	position: absolute;
	top: 0; /* Keep at the top */
	width: 500px;
	height: 1300px;
	background: #fff;
	background: radial-gradient(circle at 100% 100%, transparent 45%, #bd63c1 55%, #53e5a6 65%, transparent 85%);
	box-shadow: inset 0px 0 30px 0 #0b1a3a;
	filter: url(#wave);
	mix-blend-mode: color-dodge;
	transform: rotate(90deg) scaleX(1.4);
  }
  
  @-webkit-keyframes bmove {
	from {
	  transform: translateZ(10px) translateY(0);
	}
	to {
	  transform: translateZ(10px) translateY(-80px);
	}
  }
  
  @keyframes bmove {
	from {
	  transform: translateZ(10px) translateY(0);
	}
	to {
	  transform: translateZ(10px) translateY(-80px);
	}
  }
  @-webkit-keyframes cmove {
	from {
	  transform: translateZ(-5px) translateY(0);
	}
	to {
	  transform: translateZ(-5px) translateY(80px);
	}
  }
  @keyframes cmove {
	from {
	  transform: translateZ(-5px) translateY(0);
	}
	to {
	  transform: translateZ(-5px) translateY(80px);
	}
  }
  svg {
	width: 0;
	height: 0;
  }

@media (prefers-color-scheme: dark) {

	:root {
		--background-color: #222;
		--secondary-background-color: #2e2e2e;

		--text-color: #bbb;
		--secondary-text-color: #666;

		--border-style: 1px solid #444;
	}

	#previewsToggler {
		filter: invert(100%);
	}

}



* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body {
	height: 100%;
}

html {
	font-size: calc(var(--font-size) - 1px);
	line-height: calc(var(--line-height) - 1px);
}

body {
	font-family: 'Roboto Mono', monospace;
	margin: 0px;
	color: var(--text-color);
	background-color: var(--background-color);
}

a {
	text-decoration: none;
}

h1 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
}

h2 {
	padding: 0;
	margin: 16px 0;
	font-size: calc(var(--font-size) - 1px);
	line-height: var(--line-height);
	font-weight: 500;
	color: var(--color-blue);
}

h3 {
	margin: 0;
	font-weight: 500;
	font-size: calc(var(--font-size) - 1px);
	line-height: var(--line-height);
	color: var(--secondary-text-color);
}

h1 a {
	color: var(--color-blue);
}

#header {
	display: flex;
	height: var(--header-height);
	border-bottom: var(--border-style);
	align-items: center;
}
#header h1 {
	padding-left: var(--panel-padding);
	flex: 1;
	display: flex;
	align-items: center;
	color: var(--color-blue);
}
#header #version {
	border: 1px solid var(--color-blue);
	color: var(--color-blue);
	border-radius: 4px;
	line-height: 16px;
	padding: 0px 2px;
	margin-left: 6px;
	font-size: .9rem;
}
#panel {
	position: fixed;
	z-index: 100;
	left: 0px;
	width: var(--panel-width);
	height: 100%;
	overflow: auto;
	border-right: var(--border-style);
	display: flex;
	flex-direction: column;
	transition: 0s 0s height;
}

	#panel #clearSearchButton {
		width: 48px;
		height: 48px;
		display: none;
		background-color: var(--text-color);
		background-size: var(--icon-size);
		-webkit-mask-image: url(../files/ic_close_black_24dp.svg);
		-webkit-mask-position: 50% 50%;
		-webkit-mask-repeat: no-repeat;
		mask-image: url(../files/ic_close_black_24dp.svg);
		mask-position: 50% 50%;
		mask-repeat: no-repeat;
		cursor: pointer;
		margin-right: 0px;
	}

	#panel.searchFocused #clearSearchButton {
		display: block;
	}

	#panel.searchFocused #language {
		display: none;
	}

	#panel.searchFocused #filterInput {
		-webkit-mask-image: none;
		mask-image: none;
		background-color: inherit;
		padding-left: 0;
	}

	#panel #expandButton {
		width: 48px;
		height: 48px;
		margin-right: 4px;
		margin-left: 4px;
		display: none;
		cursor: pointer;
		background-color: var(--text-color);
		background-size: var(--icon-size);
		-webkit-mask-image: url(../files/ic_menu_black_24dp.svg);
		-webkit-mask-position: 50% 50%;
		-webkit-mask-repeat: no-repeat;
		mask-image: url(../files/ic_menu_black_24dp.svg);
		mask-position: 50% 50%;
		mask-repeat: no-repeat;
	}

	#panel #sections {
		display: flex;
		justify-content: center;
		z-index: 1000;
		position: relative;
		height: 100%;
		align-items: center;
		font-weight: 500;
	}

	#panel #sections * {
		padding: 0 var(--panel-padding);
		height: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#panel #sections .selected:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: -1px;
		border-bottom: 1px solid var(--text-color);
	}
	#panel #sections a {
		color: var(--secondary-text-color);
	}

	body.home #panel #sections {
		display: none;
	}


#panel #inputWrapper {
	display: flex;
	align-items: center;
	height: var(--header-height);
	padding: 0 0 0 var(--panel-padding);
	position: relative;
	background: var(--background-color);
}
#panel #inputWrapper:after {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-bottom: var(--border-style);
	content: "";
}

	#panel #filterInput {
		flex: 1;
		width: 100%;
		font-size: 1rem;
		font-weight: 500;
		color: var(--text-color);
		outline: none;
		border: 0px;
		background-color: var(--text-color);
		background-size: var(--icon-size);
		-webkit-mask-image: url(../files/ic_search_black_24dp.svg);
		-webkit-mask-position: 0 50%;
		-webkit-mask-repeat: no-repeat;
		mask-image: url(../files/ic_search_black_24dp.svg);
		mask-position: 0 50%;
		mask-repeat: no-repeat;
		font-family: 'Roboto Mono', monospace;
	}

	#panel #language {
		font-family: 'Roboto Mono', monospace;
		font-size: 1rem;
		font-weight: 500;
		color: var(--text-color);
		border: 0px;
		background-image: url(ic_arrow_drop_down_black_24dp.svg);
		background-size: var(--icon-size);
		background-repeat: no-repeat;
		background-position: right center;
		background-color: var(--background-color);
		padding: 2px 24px 4px 24px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin-right: 10px;
		text-align-last: right;
	}

		#panel #language:focus {
			outline: none;
		}

	#contentWrapper {
		flex: 1;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}

	#panel #content {
		flex: 1;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		padding: 0 var(--panel-padding) var(--panel-padding) var(--panel-padding);
	}

		#panel #content ul {
			list-style-type: none;
			padding: 0px;
			margin: 0px 0 20px 0;
		}
		#panel #content ul li {
			margin: 1px 0;
		}

		#panel #content h2:not(.hidden) {
			margin-top: 16px;
			border-top: none;
			padding-top: 0;
		}

		#panel #content h2:not(.hidden) ~ h2 {
			margin-top: 32px;
			border-top: var(--border-style);
			padding-top: 12px;
		}

	        #panel #content h3 {
			color: var(--text-color);
			font-weight: 900;
		}

		#panel #content a {
			position: relative;
			color: var(--text-color);
		}

		#panel #content a:hover,
		#panel #content a:hover .spacer,
		#panel #content .selected {
			color: var(--color-blue);
		}

		#panel #content .selected {
			text-decoration: underline;
		}

		#panel #content .hidden {
			display: none !important;
		}

		#panel #content #previewsToggler {
			cursor: pointer;
			float: right;
			margin-top: 18px;
			margin-bottom: -18px;
			opacity: 0.25;
		}

		#panel #content.minimal .card {
			background-color: transparent;
			margin-bottom: 4px;
		}

		#panel #content.minimal .cover {
			display: none;
		}

		#panel #content.minimal .title {
			padding: 0;
		}

		#panel #content.minimal #previewsToggler {
			opacity: 1;
		}

		body.home #panel #content h2 {
			margin-bottom: 2px;
			padding-bottom: 0px;
			margin-top: 18px;
			border-top: none;
			padding-top: 6px;
		}

.spacer {
	color: var(--secondary-text-color);
	margin-left: 2px;
	padding-right: 2px;
}

#viewer,
iframe {
	position: absolute;
	border: 0px;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

iframe#viewer {
	display: none; /* Workaround: The iframe has white background in Chrome for some reason */
}

#viewer {
	padding-left: var(--panel-width);
}

#button {
	position: fixed;
	bottom: 16px;
	right: 16px;

	padding: 12px;
	border-radius: 50%;
	margin-bottom: 0px;

	background-color: #FFF;
	opacity: .9;
	z-index: 999;

	box-shadow: 0 0 4px rgba(0,0,0,.15);
}
	#button:hover {
		cursor: pointer;
		opacity: 1;
	}
	#button img {
		display: block;
		width: var(--icon-size);
	}

	#button.text {
		border-radius: 25px;
		padding-right: 20px;
		padding-left: 20px;
		color: var(--color-blue);
		opacity: 1;
		font-weight: 500;
	}


#projects {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	line-height: 0;
}
#projects a {
	overflow: hidden;
}
#projects a img {
	width: 100%;
	transform: scale(1.0);
	transition: 0.15s transform;
}
#projects a:hover img {
	transform: scale(1.08);
}



@media all and ( min-width: 1500px ) {
	#projects {
		grid-template-columns: repeat(7, 1fr);
	}
}

@media all and ( min-width: 1700px ) {
	:root {
		--panel-width: 360px;
		--font-size: 18px;
		--line-height: 28px;
		--header-height: 56px;
		--icon-size: 24px;
	}
	#projects {
		grid-template-columns: repeat(8, 1fr);
	}
}

@media all and ( min-width: 1900px ) {

	#projects {
		grid-template-columns: repeat(9, 1fr);
	}

}

@media all and ( max-width: 1300px ) {
	#projects {
		grid-template-columns: repeat(6, 1fr);
	}
}

@media all and ( max-width: 1100px ) {
	#projects {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media all and ( max-width: 900px ) {
	#projects {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media all and ( max-width: 700px ) {
	#projects {
		grid-template-columns: repeat(3, 1fr);
	}
}


.card {
	border-radius: 3px;
	overflow: hidden;
	background-color: var(--secondary-background-color);
	padding-bottom: 6px;
	margin-bottom: 16px;
}

.card.selected {
	box-shadow: 0 0 0 3px var(--color-blue);
	text-decoration: none !important;
}

.card .cover {
	padding-bottom: 56.25%; /* 16:9 aspect ratio */
	position: relative;
	overflow: hidden;
}

.card .cover img {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card .title {
	padding: 8px 12px 4px;
	font-size: calc(var(--font-size) - 1px);
	font-weight: 500;
	line-height: calc(var(--line-height) - 6px);
}

.card .tag {
	background-color: var(--background-color);
	color: var(--color-blue);
	margin-left: 6px;
	padding: 1px 6px 2px;
	border-radius: 2px;
	font-size: calc(var(--font-size) - 2px);
	line-height: calc(var(--line-height) - 6px);
}

/* mobile */

@media all and ( max-width: 640px ) {

	:root {
		--header-height: 56px;
		--icon-size: 24px;
	}

	#projects {
		grid-template-columns: repeat(2, 1fr);
	}

	#panel #expandButton {
		display: block;
	}
	#panel {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		right: 0;
		z-index: 1000;
		overflow-x: hidden;
		transition: 0s 0s height;
		border: none;
		height: var(--header-height);
		transition: 0s 0.2s height;
	}
	#panel.open {
		height: 100%;
		transition: 0s 0s height;
	}

	#panelScrim {
		pointer-events: none;
		background-color: rgba(0,0,0,0);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1000;
		pointer-events: none;
		transition: .2s background-color;
	}
	#panel.open #panelScrim {
		pointer-events: auto;
		background-color: rgba(0,0,0,0.4);
	}

	#contentWrapper {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		background: var(--background-color);
		box-shadow: 0 0 8px rgba(0,0,0,.1);
		width: calc(100vw - 60px);
		max-width: 360px;
		z-index: 10000;
		transition: .25s transform;
		overflow-x: hidden;
		margin-right: -380px;
		line-height: 2rem;
	}
	#panel.open #contentWrapper {
		transform: translate3d(-380px, 0 ,0);
	}
	#viewer,
	iframe {
		left: 0;
		top: var(--header-height);
		width: 100%;
		height: calc(100% - var(--header-height));
	}
	#viewer {
		padding-left: 0;
	}
}

        #text-panel {
            /* Existing styles */
            font-family: 'Amatic SC', cursive;
            margin-bottom: 40px;
            line-height: 1;
        }

        body .base {
            z-index: 90;
            position: fixed;
            top: 0px;
            left: 0px;
            background-color: transparent;
            width: 98px;
            height: 98px;
            transition: all 1s cubic-bezier(0.5, -0.75, 0.05, 1);
            border-bottom-right-radius: 100%;
        }

        body .base .menu {
            z-index: 100;
            background-color: transparent;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100px;
            height: 100px;
            border-bottom-right-radius: 200px;
            cursor: pointer;
            transition: all 1s cubic-bezier(0.5, -0.75, 0.05, 1), background-color 1s ease;
        }

        body .base .menu .icon {
            position: absolute;
            width: 25px;
            height: 25px;
            top: 50%;
            left: 50%;
            transform: translate(-100%, -100%);
        }

        body .base .menu .icon:before,
        body .base .menu .icon:after {
            content: "";
            transform: rotate(0deg);
            transition: top 0.5s ease 0.5s, transform 0.5s ease, background-color 0.75s ease 0.25s;
        }

        body .base .menu .icon .bar,
        body .base .menu .icon:before,
        body .base .menu .icon:after {
            position: absolute;
            height: 5px;
            left: 0px;
            right: 0px;
            border-radius: 5px;
            background-color: #21264b;
        }

        body .base .menu .icon .bar {
            transition: opacity 0s linear 0.5s, background-color 0.75s ease 0.25s;
            opacity: 1;
            top: 10px;
        }

        body .base .menu .icon:before {
            top: 0px;
        }

        body .base .menu .icon:after {
            top: initial;
            top: 20px;
        }

        body .base .icons {
            z-index: 98;
            position: absolute;
            top: 0px;
            left: 0px;
        }

        body .base .icons>* {
            position: absolute;
            font-size: 40px;
            color: #21264b;
            transition: 0.3s cubic-bezier(0.5, -0.25, 0.05, 1);
        }

        body .base .icons .fa-user {
            top: 35px;
            left: 0px;
            transition-delay: 0.2s;
        }

        body .base .icons .fa-calendar-o {
            top: 0px;
            left: 0px;
            color: #fff;
            transition-delay: 0.1s;
        }

        body .base .icons .fa-tachometer {
            top: 0px;
            left: 35px;
        }

        body .base .section {
            z-index: 96;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 0px;
            width: 0px;
            transform-origin: 100% 100%;
            transform: rotate(135deg);
        }

        body .base .section .cover1 {
            transform-origin: 100% 100%;
        }

        body .base .section .cover1,
        body .base .section .cover1 .cover2,
        body .base .section .cover1 .cover2 .content {
            position: absolute;
            width: 600px;
            height: 600px;
        }

        body .base .section .cover1,
        body .base .section .cover1 .cover2 {
            top: 50%;
            left: 50%;
            transform: translate(-100%, -100%) rotate(4deg);
            overflow: hidden;
            pointer-events: none;
            transition: transform 0.5s ease-in;
        }

        body .base .section .cover1 .cover2 {
            transform: translate(50%, -50%) rotate(-8deg);
            transform-origin: 0% 100%;
        }

        body .base .section .cover1 .cover2 .content {
            width: 0px;
            height: 0px;
            border-radius: 100%;
            background-color: #ee1b59;
            top: 100%;
            left: 0%;
            transform: translate(-50%, -50%);
            transition: background-color 0s, width 1.5s cubic-bezier(0.5, -0.5, 0.05, 1) 0s, height 1.5s cubic-bezier(0.5, -0.5, 0.05, 1) 0s;
            pointer-events: auto;
        }

        body .base .section-static {
            z-index: 94;
            width: 100px;
            height: 100px;
            position: absolute;
            top: 0px;
            left: 0px;
            transform-origin: 0% 0%;
            transition: width 1s cubic-bezier(0.5, -0.75, 0.05, 1), height 1s cubic-bezier(0.5, -0.75, 0.05, 1);
        }

        body .base .section-static:hover {
            background-color: skyblue;
        }

        body .base .section-static.top {
            transform: rotate(-45deg);
            border-bottom-right-radius: 400px;
        }

        body .base .section-static.bottom {
            transform: rotate(45deg);
            border-bottom-right-radius: 400px;
        }

        body .base.close {
            width: 300px;
            height: 300px;
            transition: all 1.25s cubic-bezier(0.5, 0, 0.05, 1.75);
        }

        body .base.close .menu {
            width: 150px;
            height: 150px;
            transition: all 1s cubic-bezier(0.5, 0, 0.05, 1.75), background-color 1s ease;
            background-color: #21264b;
        }

        body .base.close .menu .icon .bar,
        body .base.close .menu .icon:before,
        body .base.close .menu .icon:after {
            background-color: #ffffff;
        }

        body .base.close .menu .icon .bar {
            opacity: 0;
        }

        body .base.close .menu .icon:before,
        body .base.close .menu .icon:after {
            transition: top 0.5s linear, transform 0.5s ease 0.5s, background-color 0.75s ease 0.25s;
        }

        body .base.close .menu .icon:before {
            top: 10px;
            transform: rotate(-45deg);
        }

        body .base.close .menu .icon:after {
            top: 10px;
            transform: rotate(45deg);
        }

        body .base.close .icons {
            position: absolute;
            top: 0px;
            left: 0px;
        }

        body .base.close .icons>* {
            position: absolute;
            font-size: 40px;
            color: #21264b;
            transition: 0.3s cubic-bezier(0.5, 0, 0.05, 1.75) 0.7s;
            pointer-events: none;
        }

        body .base.close .icons .fa-user {
            top: 35px;
            left: 200px;
        }

        body .base.close .icons .fa-calendar-o {
            top: 141px;
            left: 141px;
            color: #fff;
            transition-delay: 0.65s;
        }

        body .base.close .icons .fa-tachometer {
            top: 200px;
            left: 35px;
            transition-delay: 0.8s;
        }

        body .base.close .section .cover1 {
            transform-origin: 100% 100%;
        }

        body .base.close .section .cover1,
        body .base.close .section .cover1 .cover2,
        body .base.close .section .cover1 .cover2 .content {
            position: absolute;
            width: 600px;
            height: 600px;
        }

        body .base.close .section .cover1,
        body .base.close .section .cover1 .cover2 {
            top: 50%;
            left: 50%;
            transform: translate(-100%, -100%) rotate(16deg);
            overflow: hidden;
            transition: transform 0.5s ease-in 0.5s;
        }

        .menu-text {
            display: none;
            transform: rotate((60deg));
            font-family: 'Amatic SC', cursive;



        }

        .base.close .menu-text {
            display: block;
            transition-delay: 0.1s;
            transform-origin: 100%, 100%;
            transform-origin: 100% 100%;
            transform: translate(-20px, 18px);
            /* Additional styling for when they are visible */
        }

        body .base.close .section .cover1 .cover2 {
            transform: translate(50%, -50%) rotate(-32deg);
            transform-origin: 0% 100%;
        }

        body .base.close .section .cover1 .cover2 .content {
            border-radius: 100%;
            background-color: #ee1b59;
            top: 100%;
            left: 0%;
            transform: translate(-50%, -50%);
            transition: background-color 0s, width 1.1s cubic-bezier(0.5, 0, 0.05, 1.75) 0.25s, height 1.1s cubic-bezier(0.5, 0, 0.05, 2) 0.25s;
        }

        body .base.close .section .cover1 .cover2 .content:hover {
            background-color: #dd1350;
        }

        body .base.close .section-static {
            width: 300px;
            height: 300px;
            transition: width 1.25s cubic-bezier(0.5, 0, 0.05, 2), height 1.25s cubic-bezier(0.5, 0, 0.05, 2);
        }

        .gif {
            transform: translate(0, -150px);
			 /* width:20px; */
            height:35%;
        }
    </style>


</head>

<body>

    <div class="experience"></div>
    <div class="loader">
        <img class="gif" src="/loading.gif"/>
		<div class="timer" style="display: none;" id="htmlLoaderTimer"></div>
    </div>
    <div class="credits unvisible">
        <div class="pic loaderKey">
        </div>
    </div>
    <div class="base" id="base" style="display: none;">
        <div class="menu">
            <div class="icon">
                <div class="bar"></div>
            </div>
        </div>
        <div class="icons">
            <i class="fa fa-user menu-text" aria-hidden="true">Recruiters</i>
            <i class="fa fa-calendar-o menu-text" aria-hidden="true">RESUME</i>
            <i class="fa fa-tachometer menu-text" aria-hidden="true">Contact</i>
        </div>
        <div class="section">
            <div class="cover1">
                <div class="cover2">
                    <a class="content" target="_blank" rel="noopener"
                        href="https://aarya00s.github.io/quiz/"></a>
                </div>
            </div>
        </div>
        <a class="section-static top" target="_blank" rel="noopener" href="https://aarya00s.github.io/check/"></a>
        <a class="section-static bottom" target="_blank" rel="noopener" href="https://aaryascontactme.netlify.app/"></a>
    </div>
    <div id="container"></div>

    <div class="information">
        <div class="text" id="htmlInformer">
            Lorem ipsum...
            <!-- Your content -->
        </div>
    </div>
    <div id="text-panel"
        style="display: none; position: fixed; bottom: 0; width: 100%; background: rgba(255, 255, 255, 0); color: gold; text-align: center; padding: 10px; font-size: 60px; font-family: 'Amatic SC', cursive;">
        Welcome aboard! Press 'M' or interact with the control panel above For a hidden surprise, try clicking around the bottom of the screen to discover and use the joystick for navigation. Enjoy the voyage!
    </div>

    <div id="joystick-container" style="position:absolute; bottom: 10%; right: 10% , width 79%;"></div>


    <noscript>

        <div><img alt="" src="https://mc.yandex.ru/watch/93544529" style="position:absolute; left:-9999px;" /></div>
    </noscript>
    <script type="module">
        // Ensure the document is fully rendered before executing
        document.addEventListener('DOMContentLoaded', () => {
          // Dynamically load jQuery to not affect the initial load time
          import('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
            .then(() => {
              // jQuery is now loaded and can be used
              $(document).ready(function () {
                $(".menu").click(function () {
                  $(this).parent().toggleClass("close");
                  // Toggle classes for text visibility
                  if ($('#base').hasClass('close')) {
                    $('.menu-text').css('display', 'block');
                  } else {
                    $('.menu-text').css('display', 'none');
                  }
                });
              });
            })
            .catch(console.error); // Log errors if jQuery fails to load
        });
      </script>

    <!-- Scripts are added with a client directive in Astro -->
    <ScriptComponent client:load></script>
    <!-- noscript tags are not typically needed in Astro because it handles static rendering -->
</body>
</html>
